
<div data-role="page" id="pageone">
  <!--메뉴바-->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <div class="menu-picture" style="background-color: #D8D8D8;">
      <!--프로필사진대신 임의의 사진 넣음.-->
      <img src="https://caufriend3-the-g.c9.io/assets/studentmail.jpg" class="menu-picture" />
    </div>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">내 프로필</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/levels1.png" class="menu-small">소개받을 친구</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/gears10.png" class="menu-small">설정</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/letter106.png" class="menu-small">문의하기</button>
  </div> 
  <!--header-->
  <div data-role="header">
     <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow" ><img src="https://caufriend3-the-g.c9.io/assets/menubar.png" class="menubar"></a>
    <h1>중사친</h1>
  </div>
 
<p>중앙대학교 학생 인증하기</p>
	
	
	    
    <div style="text-align: center">
     <img src="https://caufriend3-the-g.c9.io/assets/studentmail.jpg" width="345px" height="150px" />
    </div>
    
   <br> </br>
    
     <div style="text-align: center">
     <img src="https://caufriend3-the-g.c9.io/assets/idcard.png" width="345px" height="150px" />
    </div>


<div data-role="footer" data-position="fixed">
    <h1>다음</h1>
  </div> 

	
	
	
	
 <!---학교메일로 인증받기
   <div style="height:180px; width:345px;
    background-color:#00E1FF;text-align:center;
   border:1px solid; border-color:#85A1A5; margin:auto">
    <h4><p align= center>학교메일로 인증받기</h4>
   </div> 
   
   
   <img src="https://caufriend3-the-g.c9.io/assets/menubar.png" style="width:10px; height:10px">
  ---->

  

  
  <!--- 휴대폰으로 인증받기

    <div style="height:180px; width:345px;
    background-color:#00E1FF;text-align:center;
    border:1px solid; border-color:#85A1A5; margin:auto">
    <h4><p align= center>휴대폰으로 인증받기</p></h4>
    </div>

   --->

  