<div data-role="page" id="pageone">
    <!--menubar-->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <div class="menu-picture" style="background-color: #D8D8D8;">
      <!--프로필사진대신 임의의 사진 넣음.-->
      <img src="https://caufriend3-the-g.c9.io/assets/studentmail.jpg" class="menu-picture" />
    </div>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">내 프로필</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/levels1.png" class="menu-small">소개받을 친구</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/gears10.png" class="menu-small">설정</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/letter106.png" class="menu-small">문의하기</button>
  </div> 

  <div data-role="header" data-position="fixed">
     <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow" ><img src="https://caufriend3-the-g.c9.io/assets/menubar.png" class="menubar"></a>
    <h1>회원 가입</h1>
  </div>
  
  <div class="ctg">
    관심사
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든관심사
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span>  </button>
  
  <div class="ctg">
    성별
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든성별
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span> </button>
  
  <div class="ctg">
    학과
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든학과
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span>  </button>
  
  <div class="ctg">
    재학형태
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든재학형태
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span>  </button>
  
  <div class="ctg">
    학년
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든학년
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span>  </button>
  
  <div class="ctg">
    나이
  </div>
  <button class="button05-01" type="button" style="text-align: left;">모든나이
  <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span>  </button>
  
  <p class="caution"><span class="realcaution"><u>*주의</u></span><br>
    많은 설정을 입력할 수록<br>
    소개 받을 수 있는 친구가 줄어들어요.</p>

  <div data-role="footer" data-position="fixed">
    <h1>설정하기</h1>
  </div> 