<div data-role="page" id="pageone">
  <!--메뉴바-->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <div class="menu-picture" style="background-color: #D8D8D8;">
      <!--프로필사진대신 임의의 사진 넣음.-->
      <img src="https://caufriend3-the-g.c9.io/assets/studentmail.jpg" class="menu-picture" />
    </div>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">내 프로필</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/levels1.png" class="menu-small">소개받을 친구</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/gears10.png" class="menu-small">설정</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/letter106.png" class="menu-small">문의하기</button>
  </div> 
  <!--header-->
  <div data-role="header">
     <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow" ><img src="https://caufriend3-the-g.c9.io/assets/menubar.png" class="menubar"></a>
    <h1>중사친</h1>
  </div>
 
    <button class="button05-01" type="button" style="text-align: left;">버전정보<span style="float: right;">0.0.0</span></button>
    
    <button class="button07-01" type="button" style="text-align: left;">푸쉬알림</button>
    
    <button class="button05-01" type="button" style="text-align: left;">친구관리
    <span style="float: right;"><img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">수정</span></button>

    <button class="button07-01" type="button" style="text-align: left;">휴면하기</button>
    
    <button class="button05-01" type="button" style="text-align: left;">탈퇴하기</button>

<div data-role="footer" data-position="fixed">
    <h1>다음</h1>
  </div>