<div data-role="page" id="pageone">
    <!--menubar-->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <div class="menu-picture" style="background-color: #D8D8D8;">
      <!--프로필사진대신 임의의 사진 넣음.-->
      <img src="https://caufriend3-the-g.c9.io/assets/studentmail.jpg" class="menu-picture" />
    </div>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/crayon4.png" class="menu-small">내 프로필</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/levels1.png" class="menu-small">소개받을 친구</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/gears10.png" class="menu-small">설정</button>
    <button class="menu-button" type="button" style="text-align: left;">
      <img src="https://caufriend3-the-g.c9.io/assets/letter106.png" class="menu-small">문의하기</button>
  </div> 

  <div data-role="header" data-position="fixed">
     <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow" ><img src="https://caufriend3-the-g.c9.io/assets/menubar.png" class="menubar"></a>
    <h1>회원 가입</h1>
  </div>
  
  <div class="container-fluid">
            <div class="row">  
              <div class="col-xs-4">
              <div class="se_div_menu" style="border-left: 1px solid #cccccc">
                  <a href="@@@">
                      <span class="se_span_menu">오늘의 중사친</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">쪽지보관함</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">연락처</span>
                  </a>
              </div>
            </div>  
        </div>
  </div>
  
  <!--반복문-->
  <div class="div-msg" >
    <p class="time" >~~~님과 연락처를 공유했습니다. 
    <span style="float: right;"> <img src="https://caufriend3-the-g.c9.io/assets/close47.png" class="menu-small" style="align: right"></span></p>
    <br>
    <br>
    <br>
    <p class="time">ddasdf</p>
  </div>
  <button class="confirm" type="button" style="text-align: center;">확인하기</button>
  
  
  <div data-role="footer" data-position="fixed">
    <h1>다음</h1>
  </div> 