<div data-role="page" id="pageone">
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <h2>Overlay Panel</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key, by swiping, or by clicking the button below:</p>
    <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close panel</a>
    <a href="/home/testpage" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">GO test_page</a>
  </div> 

  <div data-role="header">
     <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow">Overlay Panel</a>
    <h1>회원 가입</h1>
  </div>
  <div class="second_menu">
      
        <div class="container-fluid">
            <div class="row">  
              <div class="col-xs-4">
              <div class="se_div_menu" style="border-left: 1px solid #cccccc">
                  <a href="@@@">
                      <span class="se_span_menu">오늘의 중사친</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">쪽지보관함</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">연락처</span>
                  </a>
              </div>
            </div>  
        </div>
  </div>
  
<div class="02layout" data-position="fixed">
 <div class="02pictures">
     <div class="content-fluid">
         <div class="row">
             <img src="http://i.imgur.com/gWWrrSZ.png" class="front_img">
             <div class="col-xs-4">
                 <img src="http://i.imgur.com/gWWrrSZ.png" class="02img">
             </div>
             <div class="col-xs-4">
                 <img src="http://i.imgur.com/gWWrrSZ.png" class="02img">
             </div>
             <div class="col-xs-4">
                 <img src="http://i.imgur.com/gWWrrSZ.png" class="02img">
             </div>
         </div>
     </div>
 </div>
 
 <div class="interests02">
     <div class="title02"><p>관심사</p></div>
         <div class="content02"><p>여행,영화,취업</p></div>   
 </div>
 
 <div class="info02">
     <div class="title02"><p>기본정보</p></div>
         <div class="left02"><p>별명 </p><p class="right02">제라두</p></div>
         <div class="left02"><p>성별 </p><p class="right02">남</p></div>
         <div class="left02"><p>나이 </p><p class="right02">28</p></div>
         <div class="left02"><p>학과 </p><p class="right02">경영학부</p></div>
         <div class="left02"><p>학년 </p><p class="right02">4</p></div>
         <div class="left02"><p>등록형태 </p><p class="right02">재학</p></div>
         <div class="left02"><p>혈액형 </p><p class="right02">A</p></div>
         <div class="left02"><p>거주지 </p><p class="right02">흑서커</p></div>
         <div class="left02"><p>주량 </p><p class="right02">두병</p></div>
         <div class="left02"><p>종교 </p><p class="right02">무교</p></div>
         <div class="left02"><p>구사가능언어</p><p class="right02">영어,한국어</p></div>
     
 </div>
 
 <div class="character02">
     <div class="title02"><p>성격</p></div>
         <div class="content02"><p>겸손한, 당당한, 유머있는</p></div>    
 </div>
 
 <div class="appearance02">
     <div class="title02"><p>외모</p></div>
         <div class="content02"><p>고양이상, 미소천사, 부드러운</p></div>    
 </div>
 
 <div class="object02">
     <div class="title02"><p>어떤 친구를 만나고 싶나요?</p></div>
         <div class="content02"><p>공강시간에 카페에서 이야기 나눌 친구가 있었으면 좋겠어요. 이야기가 잘 통했으면 좋겠네요</p></div>    
 </div>
 
 <div class="book02">
     <div class="title02"><p>좋아하는 책은 무었입니까?</p></div>
         <div class="content02"><p>위대한 개츠비, 젊은 베르테르의 슬픔, 불안</p></div>  
 </div>
 </div>
 
 
  <div data-role="footer" data-position="fixed">
    <h1>쪽지보내기</h1>
  </div> <!--여기는  a href로 연결-->
